Repository pixlie/Pixlie: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-test, webapp-install, webapp-typecheck, webapp-lint

rust-fmt:
  name: Rust format check
  entry: bash -c 'cd pixlie && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust clippy
  entry: bash -c 'cd pixlie && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Rust tests
  entry: bash -c 'cd pixlie && cargo test'
  language: system
  pass_filenames: false

webapp-install:
  name: Install webapp dependencies
  entry: bash -c 'cd webapp && pnpm install --frozen-lockfile'
  language: system
  pass_filenames: false

webapp-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd webapp && pnpm exec tsc -b --noEmit'
  language: system
  pass_filenames: false

webapp-lint:
  name: ESLint check
  entry: bash -c 'cd webapp && pnpm lint'
  language: system
  pass_filenames: false

TypeScript types generated
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Update license to GPL-3.0 and add security audit documentation
  .cargo/audit.toml
  SECURITY.md
  pixlie/Cargo.toml
Due: none

Fix Pixlie server command syntax in GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/build-release.sh
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Fix license references from MIT to GPL-3.0 in website
  website/src/pages/index.astro
Due: none

Implement comprehensive structured logging infrastructure
  pixlie/Cargo.toml
  pixlie/src/conversation/executor.rs
  pixlie/src/entity_extraction.rs
  pixlie/src/hn_api.rs
  pixlie/src/lib.rs
  pixlie/src/logging.rs
  pixlie/src/main.rs
  pixlie/src/middleware/mod.rs
  pixlie/src/middleware/request_tracking.rs
Due: rust-fmt, rust-clippy, rust-test

Fix logging test and clean up unused imports
  pixlie/src/entity_extraction.rs
  pixlie/src/logging.rs
  pixlie/src/middleware/request_tracking.rs
  webapp/src/types/tools/index.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Apply code formatting with cargo fmt
  pixlie/src/entity_extraction.rs
  pixlie/src/hn_api.rs
  pixlie/src/logging.rs
  pixlie/src/main.rs
  pixlie/src/middleware/mod.rs
  pixlie/src/middleware/request_tracking.rs
Due: rust-fmt, rust-clippy, rust-test

Fix clippy warnings and errors
  pixlie/src/hn_api.rs
  pixlie/src/logging.rs
  pixlie/src/main.rs
  pixlie/src/middleware/mod.rs
  pixlie/src/middleware/request_tracking.rs
Due: rust-fmt, rust-clippy, rust-test

feat: Add LLM Chat Interface Component for issue #65
  .claude/settings.local.json
  CLAUDE.md
  ui-tickets-llm-interaction.md
  webapp/src/App.tsx
  webapp/src/components/Chat/ChatInterface.tsx
  webapp/src/components/Chat/MessageList.tsx
  webapp/src/components/Chat/ToolExecutionDisplay.tsx
  webapp/src/components/Chat/TypingIndicator.tsx
  webapp/src/components/Chat/index.ts
  webapp/src/components/Navigation.tsx
  webapp/src/pages/ChatPage.tsx
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

feat: Add LLM Tool Execution Visualization components for issue #66
  webapp/src/components/Chat/ChatInterface.tsx
  webapp/src/components/LLM/ToolExecutionModal.tsx
  webapp/src/components/LLM/ToolExecutionTimeline.tsx
  webapp/src/components/LLM/ToolMetricsDisplay.tsx
  webapp/src/components/LLM/index.ts
  webapp/src/components/__tests__/ToolExecutionTimeline.test.tsx
  webapp/src/components/__tests__/ToolMetricsDisplay.test.tsx
Due: webapp-typecheck, webapp-lint

feat: Add LLM Query Builder Interface for issue #67
  webapp/src/components/EntitySearchBar.tsx
  webapp/src/components/QueryBuilder/QueryBuilder.tsx
  webapp/src/components/QueryBuilder/QueryParameterInput.tsx
  webapp/src/components/QueryBuilder/QueryTemplate.tsx
  webapp/src/components/QueryBuilder/index.ts
  webapp/src/components/__tests__/QueryBuilder.test.tsx
  webapp/src/components/__tests__/QueryParameterInput.test.tsx
Due: webapp-typecheck, webapp-lint

feat: Add LLM Configuration Management UI for issue #68
  webapp/src/components/Settings.tsx
Due: webapp-typecheck, webapp-lint

Project restart with CLI first approach, deleted github actions workflows
  .github/workflows/rust-ci.yml
  .github/workflows/webapp-ci.yml
Due: none

Project restart with CLI first approach, deleted git hooks
  .githooks/pre-commit
Due: none

feat: Initialize Rust CLI Hello World application
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  src/lib.rs
  src/main.rs
Due: none

feat: Migrate from CLI to TUI architecture with multiple objectives support
  CLAUDE.md
  README.md
  README_CLI.md
Due: none

docs: Add comprehensive TUI development work plan
  WORK_PLAN.md
Due: none

feat: Add comprehensive TUI error handling and logging system
  Cargo.lock
  Cargo.toml
  src/error.rs
  src/lib.rs
  src/logging.rs
  src/main.rs
Due: none

Removed local Claude settings from Git
  .claude/settings.local.json
  .gitignore
Due: none

feat: Implement comprehensive TUI configuration management system
  Cargo.lock
  Cargo.toml
  src/config/loader.rs
  src/config/mod.rs
  src/config/settings.rs
  src/config/workspace.rs
  src/error.rs
  src/lib.rs
  src/main.rs
Due: none

feat: Refactor CLI to TUI-first architecture
  test-workspace-local/.pixlie-workspace.toml
Due: none

feat: Complete CLI to TUI-first architecture refactor
  src/main.rs
Due: none

feat: Implement comprehensive TUI settings and configuration interface
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/tui/app.rs
  src/tui/components/mod.rs
  src/tui/components/settings.rs
  src/tui/events.rs
  src/tui/layout.rs
  src/tui/mod.rs
Due: none

feat: Add Pixlie marketing website
  website/.gitignore
  website/.vscode/extensions.json
  website/.vscode/launch.json
  website/README.md
  website/astro.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/public/architecture.png
  website/public/favicon.svg
  website/src/assets/astro.svg
  website/src/assets/background.svg
  website/src/components/Architecture.astro
  website/src/components/Features.astro
  website/src/components/HowItWorks.astro
  website/src/components/UpcomingFeatures.astro
  website/src/components/Welcome.astro
  website/src/layouts/Layout.astro
  website/src/pages/index.astro
  website/src/styles/global.css
  website/tsconfig.json
Due: none

feat: Implement comprehensive TUI workspace management interface
  src/config/loader.rs
  src/config/mod.rs
  src/config/settings.rs
  src/config/workspace.rs
  src/error.rs
  src/lib.rs
  src/logging.rs
  src/main.rs
  src/tui/app.rs
  src/tui/components/mod.rs
  src/tui/components/settings.rs
  src/tui/components/workspace_manager.rs
  src/tui/components/workspace_picker.rs
  src/tui/events.rs
  src/tui/layout.rs
  src/tui/mod.rs
Due: none

Path conditions:
  rust-fmt: any of: ^pixlie/.*\.rs$
  rust-clippy: any of: ^pixlie/.*\.rs$
  rust-test: any of: ^pixlie/.*\.rs$
  webapp-install: any of: ^webapp/(package\.json|pnpm-lock\.yaml)$
  webapp-typecheck: any of: ^webapp/.*\.(ts|tsx)$
  webapp-lint: any of: ^webapp/.*\.(ts|tsx|js|jsx)$
