Repository pixlie/Pixlie: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-test, webapp-install, webapp-typecheck, webapp-lint

rust-fmt:
  name: Rust format check
  entry: bash -c 'cd pixlie && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust clippy
  entry: bash -c 'cd pixlie && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Rust tests
  entry: bash -c 'cd pixlie && cargo test'
  language: system
  pass_filenames: false

webapp-install:
  name: Install webapp dependencies
  entry: bash -c 'cd webapp && pnpm install --frozen-lockfile'
  language: system
  pass_filenames: false

webapp-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd webapp && pnpm exec tsc -b --noEmit'
  language: system
  pass_filenames: false

webapp-lint:
  name: ESLint check
  entry: bash -c 'cd webapp && pnpm lint'
  language: system
  pass_filenames: false

Implement HN Items browser with pagination and data table
  pixlie/src/bin/export_types.rs
  pixlie/src/database.rs
  pixlie/src/handlers.rs
  pixlie/src/main.rs
  webapp/src/App.tsx
  webapp/src/components/HnItems.tsx
  webapp/src/components/Navigation.tsx
  webapp/src/components/Settings.tsx
  webapp/src/components/ui/table.tsx
  webapp/src/types/ConfigResponse.ts
  webapp/src/types/DownloadStats.ts
  webapp/src/types/DownloadStatusResponse.ts
  webapp/src/types/ExtractionStats.ts
  webapp/src/types/ExtractionStatusResponse.ts
  webapp/src/types/GetItemsRequest.ts
  webapp/src/types/GetItemsResponse.ts
  webapp/src/types/HnItem.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

cargo clippy command in Claude.md
  CLAUDE.md
Due: none

Browser for extracted entities, vibe coded with Gemini CLI
  pixlie/src/database.rs
  pixlie/src/handlers.rs
  pixlie/src/main.rs
  webapp/src/App.tsx
  webapp/src/components/Entities.tsx
  webapp/src/components/Navigation.tsx
  webapp/src/types/ConfigResponse.d.ts
  webapp/src/types/ConfigResponse.js
  webapp/src/types/DownloadModelRequest.d.ts
  webapp/src/types/DownloadModelRequest.js
  webapp/src/types/DownloadStats.d.ts
  webapp/src/types/DownloadStats.js
  webapp/src/types/DownloadStatusResponse.d.ts
  webapp/src/types/DownloadStatusResponse.js
  webapp/src/types/ExtractionStats.d.ts
  webapp/src/types/ExtractionStats.js
  webapp/src/types/ExtractionStatusResponse.d.ts
  webapp/src/types/ExtractionStatusResponse.js
  webapp/src/types/GetItemsRequest.d.ts
  webapp/src/types/GetItemsRequest.js
  webapp/src/types/GetItemsResponse.d.ts
  webapp/src/types/GetItemsResponse.js
  webapp/src/types/HnItem.d.ts
  webapp/src/types/HnItem.js
  webapp/src/types/ModelInfo.d.ts
  webapp/src/types/ModelInfo.js
  webapp/src/types/ModelsResponse.d.ts
  webapp/src/types/ModelsResponse.js
  webapp/src/types/SetDataFolderRequest.d.ts
  webapp/src/types/SetDataFolderRequest.js
  webapp/src/types/StartDownloadRequest.d.ts
  webapp/src/types/StartDownloadRequest.js
  webapp/src/types/StartExtractionRequest.d.ts
  webapp/src/types/StartExtractionRequest.js
  webapp/src/types/tsconfig.tsbuildinfo
  webapp/tsconfig.app.json
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Cargo lint, format commands for Gemini
  GEMINI.md
Due: none

TypeScript types generated
  pixlie/src/bin/export_types.rs
  webapp/src/components/Entities.tsx
  webapp/src/types/Entity.ts
  webapp/src/types/GetEntitiesResponse.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Minor variable ref change
  pixlie/src/bin/export_types.rs
Due: rust-fmt, rust-clippy, rust-test

fix: Resolve entity extraction model loading synchronization issue
  pixlie/src/handlers.rs
  pixlie/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: Implement entity relation extraction for startup/investment domain
  pixlie/bindings/EntityRelation.ts
  pixlie/bindings/GetEntitiesRequest.ts
  pixlie/bindings/GetEntitiesResponse.ts
  pixlie/bindings/GetRelationsRequest.ts
  pixlie/bindings/GetRelationsResponse.ts
  pixlie/src/bin/export_types.rs
  pixlie/src/database.rs
  pixlie/src/entity_extraction.rs
  pixlie/src/handlers.rs
  pixlie/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

docs: Update CLAUDE.md and README.md to reflect current project status
  CLAUDE.md
  README.md
Due: none

fix: Resolve clippy warnings in API tests
  pixlie/tests/api_tests.rs
Due: rust-fmt, rust-clippy, rust-test

feat: Implement comprehensive entity browser backend APIs
  pixlie/bindings/EntityDetailResponse.ts
  pixlie/bindings/EntityItemWithHighlights.ts
  pixlie/bindings/EntityReference.ts
  pixlie/bindings/GetEntityItemsRequest.ts
  pixlie/bindings/GetEntityItemsResponse.ts
  pixlie/bindings/GetEntityReferencesRequest.ts
  pixlie/bindings/GetEntityReferencesResponse.ts
  pixlie/bindings/GetRelationsRequest.ts
  pixlie/bindings/SearchEntitiesRequest.ts
  pixlie/bindings/SearchEntitiesResponse.ts
  pixlie/src/bin/export_types.rs
  pixlie/src/database.rs
  pixlie/src/handlers.rs
  pixlie/src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Implement interactive entity browser frontend (Issue #23)
  webapp/package.json
  webapp/pnpm-lock.yaml
  webapp/src/App.tsx
  webapp/src/components/EntityBrowser.tsx
  webapp/src/components/EntityDetailModal.tsx
  webapp/src/components/EntityList.tsx
  webapp/src/components/EntitySearchBar.tsx
  webapp/src/components/RelationshipGraph.tsx
  webapp/src/components/TextHighlighter.tsx
  webapp/src/components/__tests__/EntityBrowser.test.tsx
  webapp/src/components/__tests__/TextHighlighter.test.tsx
  webapp/src/main.tsx
  webapp/src/pages/EntitiesPage.tsx
  webapp/src/pages/EntityDetailPage.tsx
  webapp/src/pages/EntityGraphPage.tsx
  webapp/src/test/setup.ts
  webapp/src/types/EntityDetailResponse.ts
  webapp/src/types/EntityItemWithHighlights.ts
  webapp/src/types/EntityReference.ts
  webapp/src/types/EntityRelation.ts
  webapp/src/types/GetEntitiesRequest.ts
  webapp/src/types/GetEntityItemsRequest.ts
  webapp/src/types/GetEntityItemsResponse.ts
  webapp/src/types/GetEntityReferencesRequest.ts
  webapp/src/types/GetEntityReferencesResponse.ts
  webapp/src/types/GetRelationsRequest.ts
  webapp/src/types/GetRelationsResponse.ts
  webapp/src/types/SearchEntitiesRequest.ts
  webapp/src/types/SearchEntitiesResponse.ts
  webapp/vite.config.ts
Due: webapp-install, webapp-typecheck, webapp-lint

Fix ESLint errors: replace any types with proper TypeScript types
  webapp/src/components/EntityDetailModal.tsx
  webapp/src/components/RelationshipGraph.tsx
  webapp/src/components/__tests__/EntityBrowser.test.tsx
Due: webapp-typecheck, webapp-lint

Fix TypeScript compilation errors in RelationshipGraph
  webapp/src/components/RelationshipGraph.tsx
Due: webapp-typecheck, webapp-lint

Fix Rust clippy warnings and linting issues
  pixlie/src/handlers.rs
  pixlie/src/llm/mod.rs
  pixlie/src/llm/tool_registry.rs
Due: rust-fmt, rust-clippy, rust-test

Apply Rust code formatting with cargo fmt
  pixlie/src/handlers.rs
  pixlie/src/llm/mock.rs
  pixlie/src/main.rs
  pixlie/tests/llm_tests.rs
Due: rust-fmt, rust-clippy, rust-test

Implement tool description system for LLM integration
  pixlie/src/handlers.rs
  pixlie/src/lib.rs
  pixlie/src/main.rs
  pixlie/src/tools/data_query.rs
  pixlie/src/tools/entity_analysis.rs
  pixlie/src/tools/mod.rs
  pixlie/src/tools/relation_exploration.rs
  pixlie/src/tools/tests.rs
Due: rust-fmt, rust-clippy, rust-test

Apply Rust code formatting with cargo fmt
  pixlie/src/tools/tests.rs
Due: rust-fmt, rust-clippy, rust-test

Fix async trait dyn-compatibility issues and complete tool execution
  pixlie/src/handlers.rs
  pixlie/src/main.rs
  pixlie/src/tools/data_query.rs
  pixlie/src/tools/entity_analysis.rs
  pixlie/src/tools/mod.rs
  pixlie/src/tools/relation_exploration.rs
  pixlie/src/tools/tests.rs
  pixlie/tests/api_tests.rs
Due: rust-fmt, rust-clippy, rust-test

Updated GEMINI.md
  GEMINI.md
Due: none

Fix TypeScript errors in React components after tool type generation
  webapp/src/components/EntityList.tsx
  webapp/src/components/RelationshipGraph.tsx
  webapp/src/types/ExecuteToolRequestNew.ts
  webapp/src/types/ExecuteToolResponse.ts
  webapp/src/types/GetToolSchemaResponse.ts
  webapp/src/types/GetToolsResponse.ts
  webapp/src/types/ValidateToolParamsResponse.ts
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Fix ESLint errors by replacing 'any' types with safer TypeScript types
  pixlie/src/handlers.rs
  pixlie/src/tools/mod.rs
  pixlie/src/tools/types.rs
  webapp/src/types/Parameter.ts
  webapp/src/types/QueryContext.ts
  webapp/src/types/ToolArguments.ts
  webapp/src/types/ToolExample.ts
  webapp/src/types/ToolParameters.ts
  webapp/src/types/ToolResult.ts
  webapp/src/types/ToolSchema.ts
  webapp/src/types/ToolSchemaExample.ts
  webapp/src/types/ValidateToolParamsRequest.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Clean up export_types.rs to avoid tool type duplication
  pixlie/src/bin/export_types.rs
Due: rust-fmt, rust-clippy, rust-test

Fix cross-subdirectory import paths in auto-generated TypeScript files
  pixlie/.gitignore
Due: none

Final fix: Ensure all cross-subdirectory import paths are correct
  webapp/src/types/tsconfig.tsbuildinfo
Due: none

Claude local settings
  .claude/settings.local.json
Due: none

Implement LLM conversation orchestration and multi-step query resolution
  pixlie/Cargo.toml
  pixlie/src/conversation/context.rs
  pixlie/src/conversation/executor.rs
  pixlie/src/conversation/manager.rs
  pixlie/src/conversation/mod.rs
  pixlie/src/conversation/planner.rs
  pixlie/src/conversation/storage.rs
  pixlie/src/database.rs
  pixlie/src/handlers.rs
  pixlie/src/lib.rs
  pixlie/src/llm/mock.rs
  pixlie/src/llm/mod.rs
  pixlie/src/main.rs
  pixlie/src/tools/mod.rs
  pixlie/tests/api_tests.rs
Due: rust-fmt, rust-clippy, rust-test

Update TypeScript types for conversation orchestration
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Fix TypeScript compilation error in tools index
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Fix TypeScript cross-directory import generation automatically
  pixlie/src/bin/export_types.rs
  pixlie/tests/export_types_tests.rs
  webapp/src/types/tools/index.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Implement LLM conversation orchestration and multi-step query resolution
  pixlie/src/bin/export_types.rs
  pixlie/src/database.rs
  pixlie/src/handlers.rs
  pixlie/src/llm/mock.rs
  pixlie/src/main.rs
  pixlie/src/tools/mod.rs
  pixlie/tests/conversation_tests.rs
  webapp/src/types/api/ContinueConversationRequest.ts
  webapp/src/types/api/ContinueConversationResponse.ts
  webapp/src/types/api/GetConversationResponse.ts
  webapp/src/types/api/ListConversationsRequest.ts
  webapp/src/types/api/ListConversationsResponse.ts
  webapp/src/types/api/StartConversationRequest.ts
  webapp/src/types/api/StartConversationResponse.ts
  webapp/src/types/api/index.ts
  webapp/src/types/conversation/Conversation.ts
  webapp/src/types/conversation/ConversationContext.ts
  webapp/src/types/conversation/ConversationResult.ts
  webapp/src/types/conversation/ConversationState.ts
  webapp/src/types/conversation/ConversationStep.ts
  webapp/src/types/conversation/DataSummary.ts
  webapp/src/types/conversation/StepResult.ts
  webapp/src/types/conversation/StepStatus.ts
  webapp/src/types/conversation/StepType.ts
  webapp/src/types/conversation/ToolDescriptor.ts
  webapp/src/types/conversation/ToolExecution.ts
  webapp/src/types/conversation/UserPreferences.ts
  webapp/src/types/conversation/index.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Minor formatting changes
  pixlie/src/bin/export_types.rs
  webapp/src/types/tools/index.ts
Due: rust-fmt, rust-clippy, rust-test, webapp-typecheck, webapp-lint

Minor type generation issue
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Complete Astro website implementation for issue #58
  website/.gitignore
  website/.vscode/extensions.json
  website/.vscode/launch.json
  website/README.md
  website/astro.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/public/favicon.svg
  website/src/layouts/Layout.astro
  website/src/pages/index.astro
  website/src/styles/global.css
  website/tsconfig.json
Due: none

Implement GitHub Actions workflow for automated binary builds and release management
  pixlie/Cargo.toml
Due: none

Complete GitHub Actions implementation with workflows and build automation
  .cargo/config.toml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  RELEASE.md
  scripts/build-release.sh
  scripts/generate-checksums.sh
  scripts/update-version.sh
  webapp/src/types/tools/index.ts
Due: webapp-typecheck, webapp-lint

Path conditions:
  rust-fmt: any of: ^pixlie/.*\.rs$
  rust-clippy: any of: ^pixlie/.*\.rs$
  rust-test: any of: ^pixlie/.*\.rs$
  webapp-install: any of: ^webapp/(package\.json|pnpm-lock\.yaml)$
  webapp-typecheck: any of: ^webapp/.*\.(ts|tsx)$
  webapp-lint: any of: ^webapp/.*\.(ts|tsx|js|jsx)$
